.advantages {


  &__wrapper {
    padding-top: 57px;
    padding-bottom: 308px;

  }

  &__main {
    position: relative;
    max-width: 996px;
    margin: 0 auto;

  }

  &__inner {
    margin: 77px auto 0;
    width: 323px;
    height: 321px;
    text-align: center;
    padding-top: 111px;
    
  }

  &__img {
    
  }

  &__oreol {
    position: absolute;
    z-index: -1;
    top: -8px;
    left: 330px;
  }

  &__descr {
    margin-top: 16px;
    font-size: 24px;
    line-height: 29px;

  }

  &__items {
    position: relative;
  }

  &__item {
    font-size: 24px;
    line-height: 29px;
    text-transform: uppercase;
    

    &_speed {
      text-align: center;
      position: absolute;
      top: -379px;
      left: 123px;
      font-size: 24px;
      line-height: 29px;
      text-transform: uppercase;

    }

    &_img {

    }

    &_par {
    }

    &_decl {
      text-align: center;
      position: absolute;
      top: -201px;
      left: 1px;
      font-size: 24px;
      line-height: 29px;
      text-transform: uppercase;

    }

    &_qual {
      text-align: center;
      position: absolute;
      top: -5px;
      left: 94px;
      font-size: 24px;
      line-height: 29px;
      text-transform: uppercase;

    }

    &_help {
      text-align: center;
      position: absolute;
      top: 93px;
      left: 438px;
      font-size: 24px;
      line-height: 29px;
      text-transform: uppercase;

    }

    &_creativity {
      text-align: center;
      position: absolute;
      top: 11px;
      left: 706px;
      font-size: 24px;
      line-height: 29px;
      text-transform: uppercase;

    }

    &_talk {
      text-align: center;
      position: absolute;
      top: -186px;
      left: 805px;
      font-size: 24px;
      line-height: 29px;
      text-transform: uppercase;
  }

    &_cration {
      text-align: center;
      position: absolute;
      top: -379px;
      left: 729px;
      text-transform: uppercase;
      font-size: 24px;
      line-height: 29px;
      text-transform: uppercase;

    }
  }
}
