.footer {
  max-height: 200px;
  padding: 80px 0 80px;
  background: #0A2530;


  &__wrapper {
    max-width: 100%;
  }

  &__content {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  &__logo {

  }

  &__img {
  }

  &__copy-right{
    color: #fff;
    line-height: 29px;
  }

  &__menu {
    

    &_list {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 40px;
      font-weight: 500;
      font-size: 24px;
      line-height: 29px;
    }

    &_item {
      font-weight: 500;
      font-size: 24px;
      line-height: 29px;
      & a {
        color: #FFFFFF;
      }
    }
  }
}
