.header {
    margin-bottom: 127px;
    &__wrapper {
        padding-top: 30px;
        text-align: center;
    }
    nav {
        margin-bottom: 40px;
        width: 100%;
    }
.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__lang{
        cursor: pointer;
        transition: all .5s ease;
        &:hover{
            transform: scale(1.2);
        }
    }

    &__items {
        display: flex;
        justify-content: space-between;
        align-items: center;
        min-width: 505px;
        font-weight: 500;
        font-size: 16px;
        line-height: 20px;
    }

    &__phone {
        margin-right: 30px;
        img {
            margin-right: 8px;
            transition: all .5s;
            &:hover {
                transform: scale(1.2);
            }
        }
        a {
            display: flex;
            align-items: center;
            
        }
    }
}

    &__main {
        display: flex;
        justify-content: space-between;
    }

    &__content {
        max-height: 749px;
        

        
    }

    &__img {
        position: relative;

        &_w {
            width: 119.57px;
            height: 120.49px;
        }
        &_a {
            width: 106px;
            height: 106px;
            position: relative;
            left: -174px;
            top: 139px;
        }
        &_book{
            position: relative;
            top: -626px;
            left: 25px;        
        }
        &_five{
            position: relative;
            top: -706px;
            left: 465px;
            z-index: -20;
        }
        &_pen {
            position: relative;
            top: -807px;
            left: 68px;
        }
        &_books {
            position: relative;
            top: -1367px;
            left: 602px;
            z-index: -20;
        }
    }

    &__header {
        text-align: start;
        font-weight: 600;
        font-size: 48px;
        line-height: 59px;
        margin-bottom: 44px;
        span {
            font-size: 48px;
            line-height: 59px;
            color: #018FA3;
            text-transform: uppercase;
        }
    }

    &__describe {
        text-align: start;
        max-width: 530px;
        font-size: 24px;
        line-height: 29px;
        margin-bottom: -31px;
    }

    &__btn {
        width: 244px;
        height: 64px;
        background: $main-color;
        box-shadow: 0px 20px 40px -27px rgba(0, 0, 0, 0.15);
        border-radius: 30px;
        border: none;
        font-weight: 500;
        font-size: 20px;
        line-height: 24px;
        &:hover {
            color: #fff;
        }

    }

    &__present {
        max-height: 749px;
        position: relative;
        &_main{
            position: relative;
            top: -9px;
            left: 64px;
            transform: skew(-2deg);
        }
        &_img {
            position: relative;
            top: -843px;
            left: 84px;
            z-index: -10;
        }
    }


}

