
@import url('https://fonts.googleapis.com/css2?family=Commissioner:wght@400;500;600&display=swap');

@import "../base/price_card";
@import "../base/btn";


body{
    font-family: 'Commissioner', sans-serif;
    font-weight: 400;

}

.container{
    width: 1500px;
    padding: 0 30px;
    margin: 0 auto;
}


.wrapper{
    width: 100%;
    margin: 0 auto;

}


@import "header";
@import "services";
@import "advantages";
@import "price";














